p {
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}
.payment_address {
  width: 370px;
}
.currency_dropdown {
  margin: 5px;
}

.currency {
  height: 80px !important;
}
.currency2 {
  height: 80px;
}
.flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
  position: relative
}
.footer {
  clear: both;
  width: 100%;
  border: 1px solid rgb(240, 9, 163);
}
.footer-content {

}

.header {
  width: 100%;
  border: 1px solid rgb(13, 235, 205);
}
.header-content {
}

.main{
  width: 65%;
  float: right;
  border: 1px solid rgb(245, 2, 2);
}
.sidebar {
  width: 35%;
  float: right;
  border: 1px solid sandybrown;
}
.main, .sidebar {
 height: 90vh;
}
.footer, .header {
  height: 5vh;
}

.status {
  float: left;
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 2px;
}
.version {
  float: right;
  position: relative;
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 2px;
}
.button-menu {
  float: right;
  position: relative;
}
.button-refresh {
  float: right;
  position: relative;
}
.text-header {
  text-decoration: underline;
}
.sidebar-content {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.currency-block {
  margin-top: 10%;
  margin-left: 2%;
}
.card {
  box-shadow: 0 4px 8px 0 rgb(26, 24, 24);
  max-width: 10cm;
  min-width: 2.5cm;
  margin: auto;
  border-width: 3px;
  margin-top: 1cm;
}
.currencies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body, html {
  height: 100vh;

}
.content {
  height: 90vh;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(56, 55, 55, 0.2);
}
.box-link {
  display: block;
}
.nav-buttons-container {
  display: flex;
  flex-direction: column;
}
.nav-buttons {
  margin-top: 1cm;
  width: 100%;
}
.info {
  border: 2px solid rgb(20, 19, 19);
}
.footer-status-span {
  color: rgb(30, 247, 30);
}
.currency-content {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.currency-info-container {
  border: 2px solid rgb(20, 19, 19);
  margin-left: 5px;
  margin-top: 10px;
  width: 100px;
}
.currency-address-container {
  border: 2px solid rgb(20, 19, 19);
  margin-left: 5px;
  margin-top: 10px;
  width: 100%;
}
