
.background-start {

  background: url('file://../../../static/backgroundStart.svg') no-repeat center;
  background-size: cover;
  height: 97vh;
}
.header-content {
  margin-left: 32px;
  margin-right: 32px;
}
.header {
  width: 100%;
  height: 3vh;
  -webkit-app-region: drag;
  background-color: #1b1b1b;
}
.title-bar-buttons {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 0px;
}
.button-hide {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBYyzsW/GfgQgAAGVnAqg9QKOOAAAAAElFTkSuQmCC") no-repeat center;
  border: 0px solid black;
  height: 20px;
  width: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}
.button-hide:hover {
  background-color: rgba(187, 179, 179, 0.3);
}

.button-close {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACVSURBVHgBbZAxDoMwDEXzHXIfrtKlSy+BOnRFWZGq9hJIiCVX4T4QB4wAJciekv9fnG/j/R0Cx+j/n9dklGp+Y00mtcSRPCobmq6vNQiJA8/w2IVuEyoOaYmPs/MJpYU27Tnhep3BxjmTQ+Kj+OqA5ZxDUlSEcvllLizcg0un3bhlhhZcGxAapA1IskwNkhJNPLK2XQHnbns2Nxu63gAAAABJRU5ErkJggg==") no-repeat center;
  border: 0px solid black;
  height: 20px;
  width: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}
.button-close:hover {
  background-color: #462222;
  opacity: 66%;
}
.container {
  background-color: #1b1b1b;
}


.main_container{
  display: flex;
  background: url('file://../../../static/backgroundMain.svg') no-repeat center;
  background-size: cover;
  height: 97vh;
}


.sidebar {
  margin-right: 24px;
  margin-left: 12px;
  order: 3;
  width: 204px;
}


.sidebarLeft {
  order: 1;
  width: 82px;
}

.nav-buttons-Left{
  display: flex;
  flex-direction: column;
}

.main{
  width: 1080px;
  order: 2;
}

.but_home{
  background: url('file://../../../static/home_p.svg') no-repeat center;
  border: 0px solid black;
  height: 42px;
  width: 42px;
  margin-top: 104px;
  margin-right: 20px;
  margin-left: 20px;
  order: 1;
}
.but_home:hover{
  background: url('file://../../../static/home_a.svg') no-repeat center;
}

.but_pay{
  background: url('file://../../../static/pay_p.svg') no-repeat center;
  border: 0px solid black;
  height: 42px;
  width: 42px;
  margin-top: 32px;
  margin-right: 20px;
  margin-left: 20px;
  order: 2;
}
.but_pay:hover{
  background: url('file://../../../static/pay_a.svg') no-repeat center;
}

.but_refresh{
  background: url('file://../../../static/refresh_p.svg') no-repeat center;
  border: 0px solid black;
  height: 42px;
  width: 42px;
  margin-top: 76px;
  margin-right: 20px;
  margin-left: 20px;
  order: 3;
}
.but_refresh:hover{
  background: url('file://../../../static/refresh_a.svg') no-repeat center;
}

.but_exchange{
  background: url('file://../../../static/exchange_p.svg') no-repeat center;
  border: 0px solid black;
  height: 42px;
  width: 42px;
  margin-top: 76px;
  margin-right: 20px;
  margin-left: 20px;
  order: 4;
}
.but_exchange:hover{
  background: url('file://../../../static/exchange_a.svg') no-repeat center;
}

.but_info{
  background: url('file://../../../static/info_p.svg') no-repeat center;
  border: 0px solid black;
  height: 42px;
  width: 42px;
  margin-top: 76px;
  margin-right: 20px;
  margin-left: 20px;
  order: 5;
}
.but_info:hover{
  background: url('file://../../../static/info_a.svg') no-repeat center;
}

.but_menu{
  background: url('file://../../../static/menu_p.svg') no-repeat center;
  border: 0px solid black;
  height: 42px;
  width: 42px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  order: 6;
}
.but_menu:hover{
  background: url('file://../../../static/menu_a.svg') no-repeat center;
}