
button {
  outline: none;
}
.default-font {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
}
.default-font-colored {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #4D6F96;
}
.info-default-font {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #7EAEE6;
}
.info-header-font {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #4D6F96;
}
.info-amount-font {
  float: right;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;
  color: #FFFFFF;
  text-align: right;
}
.satus-font {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: right;
  color: #7096C4;
}
.cryptocurrency-font {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: #4D6F96
}
.status-ready-font {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: right;

  color: #2CC958;
}
.logo-font {
  position: absolute;
  width: 74px;
  height: 10px;
  left: 50px;

  font-family: 'Helvetica';
  line-height: normal;
  font-size: 10px;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #718EA8;
}
.total-percent {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  float: right;

  color: #2CC958;
}
.total-label {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: #4D6F96;
  text-align: left;
}
.total-currency-font {
  clear: both;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 30px;
  text-align: right;
  color: #FFFFFF;
}
.payment_address {
  width: 434px;
  margin: 10px;
}
.payment_address::-webkit-input-placeholder {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  color: #7EAEE5
}
.currency_dropdown {
  margin: 5px;
}
.card-container {
  flex-grow: 1;
  min-width: 25%;
  display: block;
  width: 218px;
  height: 124px;;
  background: #25384F;
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);
  margin: 5px;
}
.card-container-second-block {
  display: block;
  width: 218px;
  height: 124px;;
  background: #25384F;
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);
  margin: 5px;
}
.card-upper-block {
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
hr { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(87, 103, 117, 0.336), rgba(80, 121, 184, 0.568),rgba(87, 103, 117, 0.336)); 
}

.card-bottom-block {
  margin: 10px;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}
.header-content {
  margin-left: 32px;
  margin-right: 32px;
}
.footer-content {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.currency {
  height: 80px !important;
}
.currency2 {
  height: 80px;
}
.flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
  position: relative
}
.footer {
  clear: both;
  width: 100%;
}
.container {
  background: linear-gradient(180deg, #21252B 0%, #0F1012 100%);
}
.header {
  width: 100%;
  -webkit-app-region: drag;
}
.main-content {
  margin: 10px;
}
.main{
  margin-left: 24px;
  margin-right: 12px;
  width: 70%;
  float: right;
}
.sidebar {
  margin-right: 24px;
  margin-left: 12px;
  float: right;
  width: 22%;
}
.main, .sidebar {
  height: 90vh;
 /*background: -webkit-linear-gradient(to bottom, rgba(34, 48, 64, 0.5) 0%, rgba(20, 27, 33, 0.5) 97.24%);
 background: linear-gradient(to bottom, rgba(34, 48, 64, 0.5) 0%, rgba(20, 27, 33, 0.5) 97.24%);
 */
 /*background: linear-gradient(180deg, rgba(34, 48, 64, 1) 0%, rgba(20, 27, 33, 0.8) 97.24%);
*/
  background: linear-gradient(180deg, rgba(34, 48, 64, 0.5) 0%, rgba(20, 27, 33, 0.5) 90.24%);

}
.footer, .header {
  height: 5vh;
}

.status {
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 2px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: right;
  color: #7096C4;
}
.version {
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 2px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  color: #7096C4;
}
.currency-name {
  margin-left: 5px;
  flex-grow: 2;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #FFFFFF;
}

.button-refresh {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 156px;
  position: relative;
  background: #25384F;
  border-radius: 24px;
  width: 156px;
  height: 30px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  color: #7EAEE6;

  border: 2px solid rgba(14, 25, 36, 0.25);
}
.text-header {
  text-decoration: underline;
}
.transaction-history-header {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: #4D6F96;
}
.refresh-button {
  background: #25384F;
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);
  border-radius: 24px;
}
.currencies-header {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  margin-left: 5px;
  color: #4D6F96;
}
.sidebar-content {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.currency-block {
  margin-top: 10px;
}
.card {
  transition: 0.3s;
  display: block;
  margin-top: 15px;
  margin-right: 7px;
  margin-left: 7px;
  flex-grow: 1;
  max-width: 120px;
  background: #25384F;
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(7, 1, 1, 0.986);
}
.currencies-container {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

body, html {
  height: 100vh;

}
.content {
  height: 90vh;
}

.box-link {
  display: block;
}
.nav-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-buttons {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #7EAEE6;
  margin-top: 1cm;
  width: 100%;
  background: #25384F;
  border: 1px solid rgba(14, 25, 36, 0.25);
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);
  height: 44px;
}
.nav-buttons-text {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #7EAEE6;
}
button:focus.nav-buttons {
  background: #171F27;
  border: 0.5px solid #2B394D;
  box-sizing: border-box;
}
/* button:focus {
  background: #171F27;
  border: 0.5px solid #2B394D;
  box-sizing: border-box;
}*/
button:active {
  background: #171F27;
  border: 0.5px solid #2B394D;
  box-sizing: border-box;
}
.footer-connected {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: right;

  color: #2CC958;
}
.currency-content {
  margin-top: 5px;
  margin-bottom: 10px;
}
.currency-info-container {
  border: 2px solid rgb(20, 19, 19);
  margin-left: 5px;
  margin-top: 10px;
  width: 120px;
  float: left;
}
.currency-address-container {
  margin-top: 20px;
  height: auto;
  width: 390px;
  clear: both;
  overflow: auto;
}
.currency-address {
  display: inline;
}
.currency-address img {
  display: block;
  float: right;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
.crypto-amount-block {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.transaction-history {
  height: 450px;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  bottom: 5vh;
  width: 68%;
  position: absolute;
}
.transaction-history-small {
  height: 300px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  bottom: 5vh;
  width: 68%;
  position: absolute;
}
table {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
}
tbody {
  height: 100px;
  overflow: auto;
}
.table-header {
  background: #25384F;
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;

  color: #7EAEE5;
}
.table-content {

}
td {
  border: 1px solid #202F45;
  text-align: center;
  box-sizing: border-box;
  background: rgba(47, 70, 105, 0.2);
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: #7EAEE5;
}
th {
  text-align: center;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  border: 1px solid #202F45;
  box-sizing: border-box;
  background: #25384F;
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);
  color: #7EAEE5;
}
.main-image {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.text-confirmed {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;

  color: #7EAEE5;
}
.text-unconfirmed {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  
  color: #4D6F96;
}
.address-with-button p{
  display: inline-block;

}
.address-with-button {
  margin-left: 5px;
}
.button-copy {
  width: 94px;
  height: 30px;
  background: #25384F;
  border-radius: 24px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  border: 1px solid rgba(14, 25, 36, 1);
  color: #7EAEE5;
}
.send-currency-button {
  float: right;
  margin-right: 15px;
  margin-top: 30px;

}
.send-block-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.button-send {
  margin: 10px;
  height: 30px;
  width: 94px;
  clear: both;
  float: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  background: #25384F;
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);
  border-radius: 24px;
  border: 1px solid rgba(14, 25, 36, 0.25);
  color: #7EAEE6
}
.fee-block {
  margin-top: 40px;
}
.fee-amount {
  width: 200px;
}
.positive-percentage {
  text-align: left;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #2CC958;
}
.currency-short-name {
  float: right;
  text-align: center;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 24px;
  color: #4D6F96;
}
.currency-amount-crypto {
  float: right;
  text-align: right;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 24px;
  color: #FFFFFF;
}
.currency-amount-fiat {
  float: right;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  text-align: right;

  color: #FFFFFF;
}
.negative-percentage {
  text-align: left;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #FF545E;
}
.text-inline {
  display: inline;
}
.button-close {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACVSURBVHgBbZAxDoMwDEXzHXIfrtKlSy+BOnRFWZGq9hJIiCVX4T4QB4wAJciekv9fnG/j/R0Cx+j/n9dklGp+Y00mtcSRPCobmq6vNQiJA8/w2IVuEyoOaYmPs/MJpYU27Tnhep3BxjmTQ+Kj+OqA5ZxDUlSEcvllLizcg0un3bhlhhZcGxAapA1IskwNkhJNPLK2XQHnbns2Nxu63gAAAABJRU5ErkJggg==") no-repeat center;
  border: 0px solid black;
  height: 20px;
  width: 20px;
}
.button-close:hover {
  background-color: red;
}
.button-hide {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBYyzsW/GfgQgAAGVnAqg9QKOOAAAAAElFTkSuQmCC") no-repeat center;
  border: 0px solid black;
  height: 20px;
  width: 20px;
  
}
.button-hide:hover {
  background-color: rgba(187, 179, 179, 0.3);
}
.button-maximize {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAoSURBVHgB5dAxEQAACMPAFscYQQcu4XCQncw/xVk9IhF4JgT7CU2HL97aCqlmz/R2AAAAAElFTkSuQmCC");

}
.title-bar-buttons {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 0px;
}
.about-block {
  clear: both;
  display: grid;
}
.currency-block-container {
  display: flex;
}
.currency-block-card {
  flex-grow: 1;
}
.currency-block-transaction {
  flex-grow: 2;
  margin: 10px;
}
.button-home {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  width: 156px;
  height: 30px;
  color: #7EAEE5;
  background: #25384F;
  border: 2px solid rgba(14, 25, 36, 0.25);
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);
  border-radius: 24px;
}
.your-bitcoin-font {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: #4D6F96;
}
.address-with-button-address {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  color: #FFFFFF;
}
.address-with-button-header {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: #4D6F96;
}
input {
  outline: none;
  background: transparent;
  border: none;
  opacity: 0.6;
  border-bottom: 1px solid #3866A9;
  box-sizing: border-box;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  color: #7EAEE5;
}
.clear {
  clear: both;
  bottom: 10px;
}
.wrap {
  clear: both;
  border: none;
  padding: 0;
  margin-top: -20px;
}
.input-amount {
  width: 202px;
  margin: 10px;
  float: left;
}
.input-fee-amount {
  width: 202px;
  margin: 10px;
  float: right;
}
input::-webkit-input-placeholder {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  color: #7EAEE5
}
.window-main {
  width: 100%;
  background: linear-gradient(180deg, #21252B 0%, #0F1012 100%);
  height: 90vh;
}
.window-main-header {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  height: 53px;
  position: absolute;
  width: 100%;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  color: #718EA8;
}
.window-main-text {
  font-family: 'Helvetica';
  line-height: normal;
  font-size: 10px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #718EA8;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45.6%;
  bottom: 0%;
  
}
.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 230px;
}
.window-main-ready {
  position: absolute;
  width: 100%;
  height: 24px;
  text-align: center;
  top: 440px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  
  color: #FFFFFF;
  margin-bottom: 255px;
}
.window-main-not-ready {
  position: absolute;
  width: 100%;
  height: 24px;
  text-align: center;
  top: 440px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #FF545E;;
  margin-bottom: 255px;
}
.footer-not-ready-icon {
  height: 8px;
  width: 12px;
}
.popup {
  background: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: linear-gradient(180deg, #223040 0%, #141B21 97.24%);
}
.popup-header {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  font-size: 14px;
  text-align: center;
}
.popup-text {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
  text-align: center;
}
.popup-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup-button {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: center;

  color: #7EAEE6;
  background: #25384F;
  box-shadow: 0px 4px 8px rgba(14, 25, 36, 0.25);
  border-radius: 24px;
  border: 1px solid rgba(14, 25, 36, 0.25);
}
.footer-not-connected {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: right;

  color: #FF545E;
}
.text-transaction-completed {
  margin: 15px;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: center;

  color: #7EAEE5;
}
.transaction-success-img {
  position: absolute;
  width: 310px;
  height: 185px;
  left: 357px;
  top: 238px;
}

.about-block-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.usb-connection-status {
  display: inline-block;
}
.footer-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-window-flex-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.header-flex-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.button-menu {
  float: right;
  position: relative;
  border: none;
  background-color: inherit;
}
.transaction-history::-webkit-scrollbar {
  width: 3px;

}
.transaction-history::-webkit-scrollbar-corner {
  background: inherit;
}
/*.transaction-history::-webkit-scrollbar-button {
  width: 3px;
}
*/
.transaction-history::-webkit-scrollbar-thumb {
  background-color: #2B4059;
}
.transaction-history-small::-webkit-scrollbar {
  width: 3px;

}
.transaction-history-small::-webkit-scrollbar-corner {
  background: inherit;
}

/*.transaction-history-small::-webkit-scrollbar-button {
  width: 3px;
}
*/
.transaction-history-small::-webkit-scrollbar-thumb {
  background-color: #2B4059;
}



.transaction-success-text {
  position: absolute;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  color: #7EAEE5;
  width: 100%;
  top: 60%;
}
.sidebar-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}